@model Library.Models.BookModel
@{
    ViewData["Title"] = "BookTemplate";
}

<div class="container">
    <div class="bookInfo">
        <h1 id="bookName">
            @Model.Book.BookName
        </h1>
        <h4 id="writerName">@Model.Writer.WriterName</h4>
        <h6 style="text-align: center;">@Html.ActionLink("Edit", "EditBook", "Book", new { bookId = @Model.Book.BookId }, new { @class = "glyphicon glyphicon-edit" })</h6>
        <br />
        <br />
        <table>
            <tr>
                <td>
                    <div id="bookPicture">
                        <img src="~/images/default.jpg" id="bimage" />
                    </div>
                </td>
                <td style="vertical-align: top;">
                    <p id="bookGenres">
                        @foreach (var genre in Model.Genres)
                        {
                            <text>@genre.GenreName </text>
                        }
                    </p>
                    <br />
                    @Model.Book.Description
                </td>
            </tr>
            <tr>
                <td>
                    <strong id="bookPrize">Details:</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong id="bookPrize">Book price @Model.Book.BookPrice $</strong>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>
                    <p>Number of books in stock: @Model.NumberOfBooks </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Number of pages: @Model.Book.PageNumber </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Book release year @Model.Book.ReleaseYear </p>
                </td>
            </tr>

        </table>
    </div>




</div>