@model Library.Models.Writer

@{
    ViewData["Title"] = "EditWriter";
}

<h2>Edit Writer</h2>

<h4>Writer</h4>
<hr />
<div class="form-group">
    @using (Html.BeginForm("EditWriter", "Writer", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.WriterId)
        <table>
            <tr>
                <td>Writer's name</td>
                <td>@Html.TextBoxFor(m => m.WriterName, new { @class = "form-control", @size = "50" })</td>
                <td>@Html.ValidationMessageFor(m => m.WriterName, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>Year of birth</td>
                <td>@Html.TextBoxFor(m => m.YearOfBirth, new { @class = "form-control", @size = "50" })</td>
                <td>@Html.ValidationMessageFor(m => m.YearOfBirth, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Confirm" class="btn btn-default" />
                </td>
            </tr>
        </table>
    }
</div>
<div>
    <a asp-action="Writers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
